body {
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.container {
    
    /* box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1200px;
    box-sizing: border-box;
}

.addInfoAndDisplayInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
    /* box-sizing: border-box; */
}

.addAcc {
    flex: 1;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.accounts {
    flex: 1;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 600;
}

input {
    padding: 12px;
    margin-bottom: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    outline: none;
    border-color: hsl(240, 100%, 60%);
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid hsl(0, 0%, 50%);
    
}

td {
    padding-bottom: 8px;
    padding-top: 8px;
}

th {
    padding-bottom: 6px;
    padding-top: 6px;
}

.editAndDel {
    border-radius: 3px;
    border-width: 1px;
    border-color: hsla(0, 0%, 0%, 0.418);
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
}

#editButton {
    margin-right: 5px;
    background-color: hsl(60, 90%, 70%);
}

#updateButton {
    margin-right: 5px;
    background-color: hsl(240, 100%, 50%);
    color: white;
}

#cancelAndDel {
    background-color: hsl(0, 100%, 50%);
    color: white;
    margin-right: 5px;
}

#nameLength {
    /* min-width: 101px; */
    min-width: 182px;
}

#nameHeaderLength {
    /* min-width: 111px; */
    min-width: 182px;
}

#userLength {
    /* min-width: 180px; */
    min-width: 182px;
}

#passLength {
    /* min-width: 182px; */
    min-width: 182px;
}

#passHeaderLength {
    /* min-width: 162px; */
    min-width: 182px;
}

#actionsLength {
    /* min-width: 223px;    */
    /* min-width: 182px; */
    min-width: 230px;
}

#userData {
    font-size: 11pt;
}

#revealButton {
    background-color: hsl(300, 100%, 25%);
    color: white;
}

@media (max-width: 1200px) {
    .addInfoAndDisplayInfo {
      flex-direction: column; /* Changes layout to stack items in a column */
    }
  }

  .poppins-thin {
    font-family: "Poppins", system-ui;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", system-ui;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", system-ui;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", system-ui;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", system-ui;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", system-ui;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", system-ui;
    font-weight: 900;
    font-style: italic;
  }
  